
.container {
    background: liner-gradient(rgba(109, 109, 109), rgba(255, 255, 255));
    height: 100vh;
    text-transform: uppercase;
    color: var(--mainWhite);
    text-align: center;
    }
    
h1 {
    padding-top: 10%;
    color: var(--mainDark);
}

h4 {
    color: var(--mainDark);
}

p {
    padding-bottom: 10%;
    padding-right: 100%;
    margin-bottom: 10%;
    color: var(--mainDark);
}

i {
    font-size: 1.875rem;
    color: var(--mainDark);
}

i:hover {
    color: Blue;
    cursor:pointer;
}
.nav-item {
    height: 18.75rem;
}

@media(max-width: 760px) {
    h1,h4{
        color: var(--mainWhite);
    }
}